background-image: url("https://res.cloudinary.com/jimshapedcoding/image/upload/v1628867094/Basketball_Sport_200179_gkllno.png");
background-size: 95%;
background-position: center;
background-repeat: no-repeat;